
    <!--About Section-->
    <section class="about-wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="about-img-box">
              <img
                class="about-img img-fluid"
                src="images/about_thumb.jpg"
                alt="about-us"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="about-box">
              <h2 class="about-header">Who We Are</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo
                molestias sunt eius autem dolor provident nihil hic odio.
                Aliquid optio, sunt asperiores velit odio suscipit autem itaque!
                Aspernatur fugiat, sapiente deleniti quod aut ab quidem ducimus.
              </p>
              <ul class="about-box-list">
                <li>Lorem ipsum dolor sit amet, usu an quem augue admodum.</li>
                <li>Lorem ipsum dolor sit amet, usu an quem augue admodum.</li>
                <li>Lorem ipsum dolor sit amet, usu an quem augue admodum.</li>
                <li>Lorem ipsum dolor sit amet, usu an quem augue admodum.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- mission section -->
    <section id="mission-section" class="container">
      <div id="accordion" class="row">
        <div class="col-lg-8">        
          <div class="card">
            <div class="card-header" id="storyHeading">
                <button class="btn btn-link btn-mission" data-bs-toggle="collapse" data-bs-target="#story" aria-expanded="false" aria-controls="storyHeading">
                  Our Story
                </button>
            </div>
        
            <div id="story" class="collapse " aria-labelledby="storyHeading" data-parent="#accordion">
              <div class="card-body">
                <div class="icon">
                  <i class="fas fa-history"></i>
                </div>
                <div class="text">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="missionHeading">
                <button class="btn btn-link btn-mission" data-bs-toggle="collapse" data-bs-target="#mission" aria-expanded="false" aria-controls="missionHeading">
                  Our Mission & vision
                </button>
            </div>
        
            <div id="mission" class="collapse" aria-labelledby="missionHeading" data-parent="#accordion">
              <div class="card-body">
                <div class="icon">
                  <i class="fas fa-low-vision"></i>
                </div>
                <div class="text">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="communityHeading">
                <button class="btn btn-link btn-mission" data-bs-toggle="collapse" data-bs-target="#community" aria-expanded="false" aria-controls="communityHeading">
                  Our Community
                </button>
            </div>
            <div id="community" class="collapse" aria-labelledby="communityHeading" data-parent="#accordion">
              <div class="card-body">
                <div class="icon">
                  <i class="fas fa-users"></i>
                </div>
                <div class="text">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!--Volunteer Section Start-->
    <section class="aVolunteer-wrap">
      <div class="container">
        <div class="row aVolunteer-row shadow">
          <div class="col-md-5">
            <img src="images/activity-2.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7">
            <div class="aVolunteer-box">
              <h1 class="aVolunteer-head text-center">Become A Volunteer</h1>
              <p class="aVolunteer-txt text-center">
                Join with us and become real human being and make the world smile !!
              </p>
              <div class="aVolunteer-btn text-center mt-2">
                <a href="contact.html" class="common-btn" role="button">Become A Volunteer</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Volunteer Section end-->