/*** css global variables ***/
/****/
:root {
  --bg-color : ;
  --volunteer-color: #fe696a;
  --volunteer-hover-color: #fe3638;
  --header-bg-color: #ffffff;
  --text-color: #374456;
  --nav-text-color: #4f4f58;
  --top-footer-bg-color: #15181d;
  --bottom-footer-bg-color: #111317;
  --footer-text-color: #828791;
  --button-bg-color: #1dbf73db;
  --button-bg-color-hover: #1dbf73;
  --button-text-color: #ffffff;
  --top-footer-text-head-color: #828791;
  --section-bg-color: #f8f9fa;
}

/* reset css */
p, h1, h2, h3, h4, h5, h6{
  color: var(--text-color);
}

input, textarea {
  font-size: 16px !important;
  border-radius: 0.25rem !important;
}

input{
  height: 43px !important;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 16px;
    color: #24252f;
}

.common-btn{
  display: inline-block;
  text-decoration: none;
  background: var(--button-bg-color);
  color: var(--button-text-color);
  padding: 8px 25px;
  font-size: 18px;
  border: 1px solid #1dbf73 !important;
  transition: all 0.25s ease-in-out;
  -moz-box-shadow: 0 0 10px 0px #1dbf7391;
  -o-box-shadow: 0 0 10px 0px #1dbf7391;
  -ms-box-shadow: 0 0 10px 0px #1dbf7391;
  -webkit-box-shadow: 0 0 10px 0px #1dbf7391;
  box-shadow: 0 0 10px 0px #1dbf7391;
  border-radius: 3px;
  outline: none !important;
}

.common-btn:hover{
  background-color: var(--button-bg-color-hover);
  color: var(--header-bg-color);
  box-shadow: none;
  outline: none !important;
}


.common-btn:focus{
  box-shadow: 0px 0px 20px 1px #a7bbb29e;
  outline: none !important;
}

.volunteer-btn{
  display: inline-block;
  text-decoration: none;
  background: var(--volunteer-color);
  color: var(--button-text-color);
  padding: 8px 25px;
  font-size: 18px;
  transition: all 0.25s ease-in-out;
/*  -moz-box-shadow: 0 0 14px 1px #1dbf7391;
  -o-box-shadow: 0 0 14px 1px #1dbf7391;
  -ms-box-shadow: 0 0 14px 1px #1dbf7391;
  -webkit-box-shadow: 0 0 14px 1px #1dbf7391;
  box-shadow: 0 0 14px 1px #1dbf7391;*/
  border-radius: 3px;
  outline: none !important;
}

.volunteer-btn:hover{
  background-color: var(--volunteer-hover-color);
  color: var(--header-bg-color);
  box-shadow: none;
  outline: none !important;
}

.card{
    margin-bottom: 20px;
}

.card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header {
    display: flex !important;
    justify-content: space-between;
    border-bottom: 0;
    border-radius: 5px 5px 0 0 !important;
    margin-bottom: 0;
}


/***** Header Start*****/

/***** Navbar *****/

.navbar-wrap {
  background-color: var(--header-bg-color);
  padding: 4px 10px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 3;
  box-shadow: 0px 0px 19px 0px #6875b761;
}

.nav-row {
  align-items: center;
}
/** nav logo **/
.nav-logo img {
  max-width: 100%;
  max-height: 3.7rem;
}
.navbar {
  padding: 0;
}
.navbar-brand {
  color: var(--nav-text-color);
}
.navbar-brand:hover {
  color: var(--nav-text-color);
}
.navbar-toggler {
  color: #fff;
  background-color: var(--button-bg-color);
  padding: 2px 5px;
  font-size: 31px;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-nav .nav-link:hover {
  background-color: var(--button-bg-color);
  color: white;
}
.navbar-nav .nav-link {
  color: var(--nav-text-color);
  padding: 0.5rem 0.9rem !important;
  font-size: 18px;
  font-weight: 600;
}
.navbar-nav .dropdown-menu {
  background-color: var(--header-bg-color);
  margin-top: 0px;
  border-radius: 0;
  padding: 0px;
}
.dropdown-menu a {
  display: block;
  padding: 8px 15px;
  color: var(--nav-text-color);
  text-decoration: none;
  white-space: nowrap
}
.dropdown-menu li a:hover {
  background-color: var(--button-bg-color);
  color: #fff;
}

.social-icon {
  text-align: end;
}
.social-icon a {
  font-size: 2.2rem;
  color: #ffffff;
  margin-right: 0.5rem;
}
.social-icon a :hover {
  color: #000000;
}

@media (max-width: 767.98px) {
  .nav-logo {
    text-align: center;
  }
  .nav-logo img {
    max-height: 4rem;
  }
}

@media (max-width: 479.98px) {
  .nav-logo {
    text-align: center;
  }
  .nav-logo img {
    max-height: 3rem;
  }
}

  /***** header media*****/
  
  @media (min-width: 768px) {
    .navbar-brand {
      display: none;
    }
  }
  @media (max-width: 767.98px) {
    .title-head {
      text-align: center;
    }
    .top-donate {
      padding: 5px 0;
    }
    .top-donate p {
      text-align: center;
    }
    .brand-logo {
      text-align: center;
      margin-bottom: 10px;
    }
    .brand-ads {
      margin-bottom: 1rem;
    }
    .social-icon {
      display: none;
    }
    .carousel-item {
      height: 250px;
    }
    .c-item-box h1 {
      font-size: 2rem;
    }
    .c-item-box h6 {
      font-size: 14px;
      padding: 5px 10px;
    }
    .c-item-box .btn {
      font-size: 14px;
      padding: 10px;
      border-radius: 0;
    }
  }
  @media (min-width: 768px) and (max-width: 992px) {
    .navbar-nav .nav-link {
      font-size: 12px;
    }
    .social-icon a {
      font-size: 2rem;
    }
  }

  /*******************/
/*** banner section ***/
/*******************/

.dashboard-header .navbar{
    padding: 0px 1rem 0rem 3rem;
}

.nav-user-info{
    padding: 12px 23px;
}

.custom-file-label{
    height: 38px;
    padding: 8px;
}

.role-name{
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.role-name span{
    font-size: 1.2rem
}

.footer{
    position: relative;
    bottom: 0;
}

.dashboard-wrapper{
    min-height: auto !important;
}

.dashboard-content{
    position: absolute;
    padding-bottom: 0;
}

/*active and focus style for input button*/
.btn-secondary:not(:disabled):not(.disabled).active:focus, 
.btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus{
    box-shadow: none;
}

.alert{
    font-size: 17px;
    text-align: center;
}

/*confirmation message box style*/
.success-message{
    background: #28EC99;
    font-size: 16px;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.success-message p{
    margin-bottom: 0;
}

.form-control::placeholder{
    color: #afb0b9 !important;
}

.form-control::-webkit-input-placeholder, input::-webkit-input-placeholder { /* Edge */
  color: #afb0b9 !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #afb0b9 !important;
}

::placeholder {
  color: #afb0b9 !important;
}

.anchor-link{
	color: #6d78f9;
}

.nav-left-sidebar .navbar-nav .nav-link{
    font-size: 17px;
    font-weight: 300;
}

/*.input-group-text{
	padding: 10px 12px;
	font-size: 18px;
}*/

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

/*.h5, h5{
	font-size: inherit !important;
}*/

.card-header.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-title{
    margin-bottom: 0;
}

.btn.edit-profile:focus{
    box-shadow: 0 0 7px 0px #7636dc;
}

.btn {
    padding: 8px 15px;
    font-size: 15px;
    margin-bottom: 0px; 
    margin-right: 0px; 
    transition: all 0.3s ease-in-out;
    position: relative;
    border-radius: 3px;
  /*  transition: color 0.15s ease 0s, background-color 0.15s ease 0s, 
    border-color 0.15s ease 0s, box-shadow 0.15s ease 0s;*/
}

.btn-sm{
    padding: 0.17rem 0.45rem;
    font-weight: 300;
}

.navbar-brand{
	padding-top: 0;
	padding-bottom: 0;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link {
    display: flex;
    align-items: center;
}

.footer-link{
	color: #186cea;
}

/*change profile picture page*/
.profile-image-change{
    margin: 0 auto;
}

/*select 2 custom style*/
.select2-container .select2-selection--single{
    height: 43px !important;
}

.select2-container--default .select2-selection--single{
    border-radius: 0.25rem;
    border: 1px solid #d2d2e4 !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 43px !important;
}

.no-search .select2-search {
    display:none
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 43px !important;
}

.select2-container--default .select2-selection--single .select2-selection__clear{
    height: 43px !important;
}

span.select2.select2-container.select2-container--default.select2-container--below.select2-container--focus{
    width: 100% !important;
}


/*bootstrap toast style*/
.toast.show{
    transform: translateX(0%);
    opacity: 1;
}

.toast {
    transition: 0.5s linear !important;
    opacity: 0;
    transform: translateX(110%);
}

.toast{
    background-color: rgb(255 255 255);
    border: 1px solid #2ec55100;
}

.toast-success .header-success{
    background-color: #a6f1b5;
}

.toast-success .header-success small.text-muted{
    color: #28a745 !important;
}

.toast-success .body-success {
    background-color: #e5fdea;
    color: #2ec551;
    border-radius: 0 0 4px 4px;
}

.toast-success .close{
    color: #115220;
    font-size: 1.2rem;
}

.toast-danger .text-danger{
    color: #d6051a !important;
}

.toast-danger .header-danger{
    background-color: #f37f7f;
    border-bottom: 1px solid rgb(255 42 83 / 36%);
}

.toast-danger .header-danger small.text-muted{
    color: #af111e !important;
}

.toast-danger .body-danger {
    background-color: #fbcacf;
    color: #c72d2d;
    border-radius: 0 0 4px 4px;
}

.toast-danger .close {
    color: #770c16;
    font-size: 1.2rem;
}


/*alert modal design*/
#alert-modal .modal-body{
    padding: 0;
}

#alert-modal .modal-body img{
    height: 5.5rem;
}

#alert-modal .alert-icon {
    display: flex;
    font-size: 4rem;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 1rem 0rem;
}

#alert-modal .alert-message .short-message{
    display: flex;
    justify-content: center;
    padding: 1rem 0 0 0;
}

#alert-modal .alert-message .long-message{
    display: flex;
    justify-content: center;
    padding: 1rem 0 0 0;
}

#alert-modal .alert-message .short-message h2{
    text-align: center;
}

#alert-modal .alert-message .long-message p{
    text-align: center;
    color: #6f6f73;
    font-size: 1.2rem;
}

#alert-modal .modal-footer {
    display: flex;
    justify-content: center;
}

#alert-modal .modal-footer .btn-danger{
    background-color: #d43545;
    border: #d43545;
}

