/* news section */
#news {
  display: block;
  position: fixed;
  z-index: 2;
  width: 100%;
  left: 0;
  background-color: rgb(0 0 0 / 53%);
}

.news-title{
  background-color: var(--button-bg-color);
}

.news {
  width: 160px
}

.news span {
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
}

marquee.news-scroll a {
  color: white;
}

.news-scroll a {
  text-decoration: none
}

.dot {
  height: 6px;
  width: 6px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 2px !important;
  background-color: rgb(207, 23, 23);
  border-radius: 50%;
  display: inline-block
}

@media (max-width: 479.98px){
  /*#news {
    margin-top: 58px;
  }*/
  .news span {
    font-size: 15px;
  }
}

/***** Slider Carousel *****/
.slider-wrap {
    margin-top: 67px;
}
.carousel-control-next, .carousel-control-prev{
    width: 40px;
    height: 80px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--button-bg-color);
    transition: all 0.25s ease-in-out;
  }
  
  .carousel-control-next:hover, .carousel-control-prev:hover{
    opacity: 1;
    width: 60px;
  }
  
  .carousel-item {
    height: 100vh;
    position: relative;
  }
  .slide-image {
    position: absolute;
    background-size: cover;
    background-position: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .slide-image:before {
    content: "";
    background-color: rgba(0,0,0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .c-item-box {
    text-align: left;
    margin-bottom: 1rem;
    padding: 1rem 0;
  }
  
  .c-item-box .slider-title{
    position: absolute;
    text-align: left;
    top: 50%;
    transform: translateY(-50%);
    padding: 2rem;
  }
  
  .c-item-box .slider-title h1{
    color: #ffffff;
    margin-bottom: 15px;
  }
  
  .c-item-box .slider-title h6{
    color: #f1f4f9;
    font-size: 19px;
    margin-bottom: 40px;
  }

  @media (max-width:  600px){
    .slider-wrap {
      margin-top: 56px;
    }

    .c-item-box .slider-title {
      text-align: center;
      padding: 1rem;
    }
    .c-item-box .slider-title h1 {
      font-size: 27px;
    }
    .c-item-box .slider-title h6 {
      font-size: 17px;
      margin-bottom: 20px;
    }
  }
  
  
  /* slick carousel for recent activity*/
  .hActivity-inner-box {
    padding: 15px;
  }
  
  .hActivity-inner-box div{
    border-radius: 5px;
    -moz-box-shadow: 0 0 14px 0px #595a5a1f;
    -o-box-shadow: 0 0 14px 0px #595a5a1f;
    -ms-box-shadow: 0 0 14px 0px #595a5a1f;
    -webkit-box-shadow: 0 0 14px 0px #595a5a1f;
    box-shadow: 0 0 14px 0px #595a5a1f;
  }
  
  .hActivity-inner-box div img{
    border-radius: 5px 5px 0px 0px;
  }
  
  #hActivity-main-box .slick-next, #hActivity-main-box .slick-prev{
    position: absolute;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: white;
    z-index: 2;
  }
  
  #hActivity-main-box .slick-next:hover, #hActivity-main-box .slick-prev:hover{
    background-color: white;
  }
  
  #hActivity-main-box .slick-next:focus, #hActivity-main-box .slick-next:hover, 
  #hActivity-main-box .slick-prev:focus, #hActivity-main-box .slick-prev:hover{
    background-color: white;
  }
  
  #hActivity-main-box .slick-next:before{
    background-position: 0 -48px !important;
  }
  
  #hActivity-main-box .slick-prev:before{
    background-position: 0 -32px;
  }
  
  #hActivity-main-box .slick-next:before, #hActivity-main-box .slick-prev:before {
    content: "";
    display: inline-block;
    background: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/arrows.a8b0bad.svg) no-repeat;
    background-size: 16px 64px;
    width: 16px;
    height: 16px;
    margin-top: 3px;
  }
  .hActivity-inner-txt-header {
    text-decoration: none;
    font-size: 23px;
    font-weight: 600;
    line-height: 1;
    color: var(--text-color);
  }
  
  .hActivity-inner-txt-header:hover{
    color: var(--button-bg-color);
  }
  
  
  
  /******************/
  /***** Content Start *****/
  /******************/


/**********************/
/*member section*/
/********************/
  .hMember-wrap {
    padding: 0;
    color: var(--top-footer-bg-color);
  }
  .hMember-head {
    font-weight: 600;
  }
  .hMember-txt {
    font-weight: 400;
  }

  .hMember-wrap .col-md-6.text {
    margin: auto;
  }

  .col-md-6.image h1 {
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    color: white;
    font-weight: 800;
  }

  .hMember-wrap .image{
    position: relative;
    text-align: right;
    min-height: 20rem;
    padding: 0;
  }

  .hMember-wrap .image img{
    min-height: 20rem;
  }

 .join-member-overlay {
    width: 100%;
    height: 100%;
    background-color: #02ff73a6;
  }

@media (max-width: 600px){

  .hMember-wrap .image{
    text-align: center;
  }
}
  
  /***** About Section Start *****/
  .hAbout-wrap {
    margin: 2.5rem 0;
  }
  .hAbout-title {
    margin-bottom: 1rem;
  }
  .hAbout-author {
    padding: 0.5rem 0;
    align-items: center;
  }
  .hAbout-author-img img {
    border-radius: 3rem;
  }
  .hAbout-author-bio h4 {
    margin: 0;
  }
  .hAbout-author-bio p {
    margin: 0;
  }
  .hAbout-author-sig {
    text-align: center;
  }
  .hAbout-button {
    margin: 1.5rem 0;
  }
  .hAbout-video iframe {
    width: 100%;
    height: 20rem;
  }
  @media (max-width: 768px) {
    .hAbout-author-sig {
      text-align: left;
    }
  }
  /***** Activity Section Start *****/
  .hActivity-wrap {
    background-color: var(--section-bg-color);
    padding: 2rem 0;
  }
  .hActivity-title-box {
    margin-bottom: 1.5rem;
  }
  .hActivity-title-btn {
    text-align: end;
  }
  .hActivity-title-btn a {
    text-decoration: none;
    color: var(--button-bg-color);
    font-size: 18px;
  }
  .hActivity-title-btn a:hover {
    color: var(--button-bg-color-hover);
  }
  .hActivity-inner-img img {
    width: 100%;
  }
  .hActivity-inner-txt {
    background-color: #ffffff;
    padding: 15px 10px 30px;
    text-align: center;
  }
  .hActivity-inner-txt-btn {
    text-decoration: none;
    color: var(--button-bg-color);
    font-size: 18px;
  }
  
  .hActivity-inner-txt-btn:hover {
    color: var(--button-bg-color-hover);
  }
  
  .fa, .fas {
    font-weight: 600;
    vertical-align: middle;
  }
  .hActivity-title-btn a span {
    font-weight: 600;
  }
  
  @media (max-width: 768px) {
    .hActivity-title-txt {
      text-align: center;
      margin-bottom: 1rem;
    }
    .hActivity-title-btn {
      text-align: center;
    }
  }
  /***** News Secton *****/
  .hNews-wrap {
    padding: 3rem 0;
  }
  .hNews-tab-box ul {
    margin-bottom: 10px;
    background-color: var(--button-bg-color);
  }
  .hNews-tab-box .nav-item .nav-link {
    color: var(--button-text-color);
  }
  .hNews-tab-box .nav-item .nav-link:focus {
    border-radius: 0;
    background-color: var(--button-bg-color-hover);
    color: var(--header-bg-color);
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background-color: var(--top-footer-bg-color);
    color: var(--header-bg-color);
  }
  .hNews-newsBox {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background: #f3f3f3;
  }
  .hNews-img img {
    width: 150px;
  }
  .hNews-title {
    padding: 10px 15px;
  }
  .hNews-title a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    transition: all 0.3s;
  }
  .hNews-more-box h2 {
    margin-bottom: 1rem;
    padding-bottom: 10px;
    border-bottom: 3px double #000000;
  }
  .hNews-more-box ul {
    list-style: none;
    padding: 0;
  }
  .hNews-more-box ul li {
    padding: 5px 0;
  }
  .hNews-more-box ul li:hover {
    background-color: #004b87;
  }
  .hNews-more-box ul li a {
    text-decoration: none;
    color: #000000;
  }
  .hNews-more-box ul li a:hover {
    color: #ffffff;
  }
  /***** Team Section *****/
  .hTeam-wrap {
    padding: 3rem 0;
    background-color: #f3f3f3;
  }
  .hTeam-box ul {
    margin-bottom: 2.5rem;
  }
  .hTeam-box .nav-item {
    background-color: #00355f;
  }
  .hTeam-box .nav-link {
    color: #ffffff;
  }
  .hTeam-box .nav-link:focus {
    border-radius: 0;
  }
  .hTeam-tab-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .hTeam-img-box img {
    width: 100%;
  }
  
/**********************/
/*volunteer section*/
/********************/
  .hVolunteer-wrap {
    padding: 0;
    color: var(--top-footer-bg-color);
  }
  .hVolunteer-head {
    font-weight: 600;
  }
  .hVolunteer-txt {
    font-weight: 400;
  }

  .hVolunteer-wrap .col-md-6.text {
    margin: auto;
  }

  .col-md-6.image h1 {
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    color: white;
    font-weight: 800;
  }

  .hVolunteer-wrap .image{
    position: relative;
    text-align: right;
    min-height: 20rem;
    padding: 0;
  }

  .hVolunteer-wrap .image img{
    min-height: 20rem;
  }

  .join-volunteer-overlay {
    width: 100%;
    height: 100%;
    background-color: #fe696aad;
  }

@media (max-width: 600px){

  .hVolunteer-wrap .image{
    text-align: center;
  }
}

  /* mission section */
  .our-mission{
    padding: 3rem 0;
    background-color: var(--section-bg-color);
  }
  .mission-box {
    background-color: var(--button-bg-color);
    text-align: center;
    padding: 2rem 10px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
  }
  .mission-box:hover {
    box-shadow: 0px 0px 15px 0px rgba(0,0,0, 0.4);
  }

  .header{
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.our-mission .content{
  padding-bottom: 1rem;
}

.mission-box h2, .mission-box span {
  color: white;
}

.mission-box h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.mission-box span {
  font-size: 18px;
  line-height: 1;
}

.mission-box i {
  font-size: 5rem;
  color: white;
  margin-bottom: 30px;
}

@media (max-width: 600px){
  section.our-mission .content .mission-box {
    margin-bottom: 16px;
  }

  #hActivity-main-box .slick-next, #hActivity-main-box .slick-prev {
    display: none !important;
  }
}
/* end of mission section   */



  /***** Newletter Section *****/
  .hNewslwtter-wrap {
    padding: 3rem 0;
    background-color: var(--section-bg-color)
  }
  
  #subscriber_form{
    position: relative;
  }
  
  #subscriber_form input{
    height: 41px;
  }
  
  #subscriber_form #subs-submit-btn{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 41px;
    background-color: var(--button-bg-color);
    border-radius: 0px 5px 5px 0px;
    color: white;
    font-size: 18px;
    font-weight: 600px;
  }
  
  .hNewslwtter-title h3 {
    font-weight: 600;
  }
  .hNewslwtter-title p {
    color: var(--button-bg-color);
    font-weight: 500;
  }
  .hNewslwtter-btn {
    text-align: end;
  }
  @media (max-width: 768px) {
    .hNewslwtter-btn {
      text-align: left;
    }
  }
  
  /******************/
  /***** Content End *****/
  /******************/