body {
    color: #797979;
    background: #f1f2f7;
    font-family: 'Open Sans', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 13px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

label{
    font-weight: 600 !important;
}

.short-detail{
    padding: 2rem 0 0 1rem;
}

.profile-image {
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;}

.alert.alert-success.alert-dismissible.fade.show {
    font-size: 17px;
    text-align: center;
}

.circle-cropper {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 50%;
    width: 100%;
    padding-top: 100%;
}

.edit-button{
    padding-top: 2rem;
    padding-right: 3rem;
    text-align: center;
}

.edit-button .edit-profile {
    border: 1px solid #7636dc;
    color: #7636dc;
    padding: 6px 18px;
    text-align: right;
    float: right;
}

.edit-button .edit-profile:hover{
    background: #7636dc;
    color: white;
}

.profile-info{
    padding: 12px 0;
}

.profile-info span{
    font-size: 16px;
    color: #3d405c;
}



.profile-nav, .profile-info{}


@media only screen and (max-width: 600px) {

.profile-image {
    text-align: center;
}

.profile-image {
    max-width: 50%;
    margin: 0 auto;
}
  .short-detail{
    text-align: center;
    padding: 0;
}

.edit-button{
    padding: 2rem 0;
    text-align: center;
}

.edit-button .edit-profile {
    float: none;
}

}

@media only screen and (max-width: 768px) {

    .profile-image {
        max-width: 70%;
        margin: 0 auto;
    }

    .short-detail{
        text-align: center;
        padding: 0;
    }

    .profile-nav .short-detail h5{
        font-size: 16px;
    }

    .profile-image {
        text-align: center;
    }

    .profile-img{
        width: 12rem;
        border-radius: 50%;
    }

    .edit-button{
        padding: 2rem 0;
        text-align: center;
    }

    .edit-button .edit-profile {
        float: none;
    }
}

@media only screen and (max-width: 992px) {

    .profile-nav .short-detail h5{
        font-size: 16px;
    }

    .edit-button .edit-profile {
        float: none;
    }

    .edit-button{
        padding: 2rem 0;
        text-align: center;
    }
}

@media only screen and (max-width: 1200px) {
    .edit-button .edit-profile {
        float: none;
    }

    .edit-button{
        padding: 1rem 0;
        text-align: center;
    }
}